<html>
<head>
    <title>CURD Operations</title>
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>

<style>
    .jumbotron{
        margin-top: 10px;
        background-color:orchid;
    }
    h1{
        text-align: center;
        color: red;
        margin-bottom: 30px;
    }
    a{
        margin-left: 120px;
    }
    .btn{
        height: 50px;
        width: 120px;
        font-size: 25px;
    }
    body{
        background-color: cyan;
    }
    h2{
        text-align: center;
        font-size: 100px;
        font-family: cursive;
        color: blue;
    }
</style>
</head>
<body>
<div class="container">
    <h2>Welcome to Durgasoft</h2>
<div class="jumbotron">
<h1>Welcome to CURD Operations</h1>
<a type="button" class="btn btn-primary" href="/insert/">Create</a>
<a type="button" class="btn btn-danger" href="/update/">Update</a>
<a type="button" class="btn btn-success" href="/retrieve/">Retrieve</a>
<a type="button" class="btn btn-info" href="/delete/">Delete</a>
</div>
</div>
</body>
</html>
